In [1]:
import pandas as pd
from collections import Counter
import tensorflow as tf
from tffm import TFFMRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import numpy as np

In [2]:
buys = open('yoochoose-buys.dat', 'r')
clicks = open('yoochoose-clicks.dat', 'r')

In [3]:
initial_buys_df = pd.read_csv(buys, names=['Session ID', 'Timestamp', 'Item ID', 'Category', 'Quantity'],
                              dtype={'Session ID': 'float32', 'Timestamp': 'str', 'Item ID': 'float32',
                                     'Category': 'str'})

In [4]:
initial_buys_df.set_index('Session ID', inplace=True)

In [5]:
len(initial_buys_df)

1150753

In [6]:
initial_buys_df.query("Quantity == 0").head()

                           Timestamp      Item ID Category  Quantity
Session ID
281963.0    2014-04-07T20:33:54.828Z  214563136.0        0         0
210097.0    2014-04-07T17:45:33.522Z  214508944.0        0         0
351577.0    2014-04-07T17:45:02.666Z  214827024.0        0         0
351577.0    2014-04-07T17:45:02.740Z  214829744.0        0         0
419982.0    2014-04-07T15:02:06.999Z  214748304.0        0         0

In [7]:
initial_buys_df.Quantity.value_counts()[:20]

0     610030
1     435065
2      75486
3      11050
4       7505
6       4477
5       2670
10      1887
12       648
8        588
7        397
24       227
30       224
9        145
18       144
20       126
15        26
16        16
13         9
14         8
Name: Quantity, dtype: int64

In [8]:
initial_clicks_df = pd.read_csv(clicks, names=['Session ID', 'Timestamp', 'Item ID', 'Category'],
                                dtype={'Category': 'str'})

initial_clicks_df.set_index('Session ID', inplace=True)

In [9]:
initial_clicks_df.head(10)

                           Timestamp    Item ID Category
Session ID
1           2014-04-07T10:51:09.277Z  214536502        0
1           2014-04-07T10:54:09.868Z  214536500        0
1           2014-04-07T10:54:46.998Z  214536506        0
1           2014-04-07T10:57:00.306Z  214577561        0
2           2014-04-07T13:56:37.614Z  214662742        0
2           2014-04-07T13:57:19.373Z  214662742        0
2           2014-04-07T13:58:37.446Z  214825110        0
2           2014-04-07T13:59:50.710Z  214757390        0
2           2014-04-07T14:00:38.247Z  214757407        0
2           2014-04-07T14:02:36.889Z  214551617        0

In [10]:
len(initial_clicks_df)

33003944

In [11]:
initial_clicks_df.Category.value_counts()[:10]

0    16337653
S    10769610
1     1671754
2     1292249
3      789713
4      480569
5      471923
6      414696
7      389910
9      105282
Name: Category, dtype: int64

In [12]:
a = pd.DataFrame(initial_clicks_df.index).drop_duplicates().astype(int)
b = pd.DataFrame(initial_buys_df.index).drop_duplicates().astype(int)

In [13]:
c = a.merge(b, on=['Session ID'], how='inner')

len(c)

509696

In [14]:
initial_buys_df = initial_buys_df.drop('Timestamp', 1)
initial_clicks_df = initial_clicks_df.drop('Timestamp', 1)

In [15]:
from collections import Counter

x = Counter(initial_buys_df.index).most_common(10000)
top_k = dict(x).keys()

In [16]:
x

[(5638444.0, 144),
 (10808253.0, 120),
 (9014734.0, 81),
 (428198.0, 72),
 (6832724.0, 72),
 (6149111.0, 64),
 (601904.0, 62),
 (2233614.0, 54),
 (7586548.0, 54),
 (10683806.0, 54),
 (2920884.0, 48),
 (4543178.0, 48),
 (8211827.0, 48),
 (9209529.0, 48),
 (953756.0, 45),
 (8301793.0, 44),
 (10449092.0, 42),
 (10966823.0, 42),
 (4630111.0, 41),
 (1753739.0, 40),
 (2561659.0, 40),
 (5015396.0, 40),
 (8749796.0, 40),
 (1655343.0, 39),
 (6958333.0, 39),
 (10129729.0, 39),
 (980883.0, 36),
 (3394936.0, 36),
 (4382259.0, 36),
 (5033466.0, 36),
 (6529877.0, 36),
 (7614712.0, 36),
 (8166894.0, 36),
 (9010472.0, 36),
 (9822698.0, 36),
 (10317602.0, 36),
 (1032524.0, 35),
 (2081373.0, 35),
 (6006624.0, 34),
 (10760937.0, 34),
 (216528.0, 33),
 (557899.0, 33),
 (5563564.0, 33),
 (8117182.0, 33),
 (8653737.0, 33),
 (10043431.0, 33),
 (10219991.0, 33),
 (3734474.0, 32),
 (4932653.0, 32),
 (5022813.0, 32),
 (8959164.0, 32),
 (10162424.0, 32),
 (10393571.0, 32),
 (3460796.0, 31),
 (312929.0, 30),
 (1755124.0, 30),
 (2626047.0, 30),
 (2420953.0, 30),
 (2267228.0, 30),
 (3392844.0, 30),
 (3459694.0, 30),
 (3459889.0, 30),
 (4184669.0, 30),
 (5241462.0, 30),
 (6494147.0, 30),
 (6647051.0, 30),
 (7368184.0, 30),
 (7086686.0, 30),
 (7264851.0, 30),
 (7533293.0, 30),
 (7932302.0, 30),
 (8688934.0, 30),
 (9438617.0, 30),
 (9458982.0, 30),
 (10769751.0, 30),
 (10921266.0, 30),
 (5422111.0, 29),
 (8503882.0, 29),
 (11376688.0, 29),
 (11275514.0, 29),
 (813918.0, 28),
 (1338984.0, 28),
 (2209084.0, 28),
 (3031139.0, 28),
 (4338377.0, 28),
 (4342126.0, 28),
 (5037817.0, 28),
 (5951718.0, 28),
 (8600704.0, 28),
 (9650418.0, 28),
 (9602067.0, 28),
 (9263378.0, 28),
 (10075028.0, 28),
 (1257969.0, 27),
 (8349367.0, 27),
 (8893894.0, 27),
 (9377474.0, 27),
 (10561706.0, 27),
 (11116411.0, 27),
 (10977671.0, 27),
 (1063939.0, 26),
 (1821976.0, 26),
 (3699076.0, 26),
 (4095283.0, 26),
 (4882213.0, 26),
 (6405052.0, 26),
 (6622746.0, 26),
 (7596688.0, 26),
 (8528438.0, 26),
 (8589157.0, 26),
 (9306017.0, 26),
 (9545418.0, 26),
 (9627926.0, 26),
 (10106201.0, 26),
 (10045938.0, 26),
 (10617859.0, 26),
 (10433311.0, 26),
 (10930388.0, 26),
 (11376943.0, 26),
 (1483449.0, 25),
 (5489053.0, 25),
 (7637033.0, 25),
 (10767557.0, 25),
 (10658439.0, 25),
 (11070226.0, 25),
 (258452.0, 24),
 (788698.0, 24),
 (970309.0, 24),
 (1065023.0, 24),
 (1605728.0, 24),
 (2051712.0, 24),
 (2098768.0, 24),
 (2508753.0, 24),
 (2218644.0, 24),
 (2526559.0, 24),
 (2999654.0, 24),
 (3067013.0, 24),
 (2976459.0, 24),
 (3229839.0, 24),
 (3876971.0, 24),
 (4210667.0, 24),
 (4051832.0, 24),
 (4575631.0, 24),
 (4402611.0, 24),
 (4410271.0, 24),
 (5003083.0, 24),
 (5098871.0, 24),
 (5165169.0, 24),
 (5464667.0, 24),
 (5608417.0, 24),
 (6090144.0, 24),
 (5855758.0, 24),
 (6541788.0, 24),
 (6265406.0, 24),
 (6492236.0, 24),
 (6777397.0, 24),
 (7591652.0, 24),
 (7635958.0, 24),
 (7939272.0, 24),
 (7850924.0, 24),
 (7902577.0, 24),
 (7897381.0, 24),
 (8625896.0, 24),
 (9722061.0, 24),
 (9599817.0, 24),
 (9794668.0, 24),
 (10107872.0, 24),
 (10646511.0, 24),
 (10440341.0, 24),
 (10609548.0, 24),
 (11032239.0, 24),
 (10794467.0, 24),
 (11211681.0, 24),
 (11320918.0, 24),
 (11385251.0, 24),
 (11384589.0, 24),
 (11461044.0, 24),
 (566621.0, 23),
 (5330168.0, 23),
 (6171863.0, 23),
 (9279527.0, 23),
 (10264281.0, 23),
 (10369258.0, 23),
 (10830446.0, 23),
 (435249.0, 22),
 (763879.0, 22),
 (666288.0, 22),
 (687696.0, 22),
 (1250586.0, 22),
 (1148138.0, 22),
 (2261773.0, 22),
 (3396746.0, 22),
 (3414936.0, 22),
 (3430014.0, 22),
 (3872109.0, 22),
 (4055041.0, 22),
 (4821784.0, 22),
 (5044102.0, 22),
 (5944887.0, 22),
 (5893416.0, 22),
 (6367708.0, 22),
 (7543037.0, 22),
 (8722652.0, 22),
 (8615721.0, 22),
 (9104572.0, 22),
 (8854349.0, 22),
 (8768851.0, 22),
 (9334494.0, 22),
 (10068621.0, 22),
 (10516726.0, 22),
 (10613397.0, 22),
 (10234029.0, 22),
 (10594756.0, 22),
 (11018178.0, 22),
 (11306446.0, 22),
 (11325989.0, 22),
 (11323656.0, 22),
 (932798.0, 21),
 (797199.0, 21),
 (1042772.0, 21),
 (1236811.0, 21),
 (1530248.0, 21),
 (1358583.0, 21),
 (1978047.0, 21),
 (2174269.0, 21),
 (2585993.0, 21),
 (3069738.0, 21),
 (3108773.0, 21),
 (3646207.0, 21),
 (5418653.0, 21),
 (6180941.0, 21),
 (5870683.0, 21),
 (7185498.0, 21),
 (7376302.0, 21),
 (8542291.0, 21),
 (8423282.0, 21),
 (8430341.0, 21),
 (8038613.0, 21),
 (9160576.0, 21),
 (9662757.0, 21),
 (10177667.0, 21),
 (10268039.0, 21),
 (10613891.0, 21),
 (11079591.0, 21),
 (11021318.0, 21),
 (11259108.0, 21),
 (11422719.0, 21),
 (296098.0, 20),
 (115212.0, 20),
 (694594.0, 20),
 (648059.0, 20),
 (753233.0, 20),
 (1091711.0, 20),
 (1123398.0, 20),
 (1539062.0, 20),
 (1508784.0, 20),
 (1475444.0, 20),
 (1668308.0, 20),
 (1655197.0, 20),
 (2563958.0, 20),
 (2496257.0, 20),
 (2619327.0, 20),
 (2634572.0, 20),
 (2823032.0, 20),
 (3202044.0, 20),
 (3690292.0, 20),
 (3905416.0, 20),
 (3677601.0, 20),
 (4856671.0, 20),
 (5143363.0, 20),
 (5177336.0, 20),
 (5375428.0, 20),
 (5379083.0, 20),
 (5386211.0, 20),
 (5386019.0, 20),
 (5517984.0, 20),
 (5635091.0, 20),
 (5635608.0, 20),
 (5643711.0, 20),
 (6181261.0, 20),
 (6191366.0, 20),
 (6194401.0, 20),
 (6025514.0, 20),
 (6099837.0, 20),
 (6544658.0, 20),
 (6477389.0, 20),
 (6231787.0, 20),
 (6525181.0, 20),
 (6815151.0, 20),
 (7370497.0, 20),
 (7252984.0, 20),
 (7271821.0, 20),
 (7273881.0, 20),
 (7325118.0, 20),
 (7773683.0, 20),
 (7846829.0, 20),
 (7949719.0, 20),
 (7964553.0, 20),
 (7902297.0, 20),
 (8589523.0, 20),
 (8030421.0, 20),
 (8616341.0, 20),
 (9107629.0, 20),
 (8605879.0, 20),
 (9189226.0, 20),
 (8814709.0, 20),
 (8692802.0, 20),
 (9724109.0, 20),
 (9449558.0, 20),
 (9708746.0, 20),
 (9410612.0, 20),
 (9564351.0, 20),
 (9781723.0, 20),
 (9892123.0, 20),
 (9935582.0, 20),
 (10348426.0, 20),
 (10636688.0, 20),
 (10273021.0, 20),
 (11245834.0, 20),
 (11039223.0, 20),
 (10807391.0, 20),
 (11501109.0, 20),
 (11487597.0, 20),
 (11304897.0, 20),
 (1402641.0, 19),
 (2971978.0, 19),
 (4689013.0, 19),
 (6153339.0, 19),
 (6349688.0, 19),
 (6383283.0, 19),
 (6823184.0, 19),
 (7046998.0, 19),
 (7467119.0, 19),
 (8531533.0, 19),
 (8038042.0, 19),
 (8037968.0, 19),
 (8664944.0, 19),
 (9473013.0, 19),
 (9382886.0, 19),
 (10146087.0, 19),
 (10058516.0, 19),
 (10119359.0, 19),
 (10759272.0, 19),
 (10615138.0, 19),
 (10672613.0, 19),
 (11059346.0, 19),
 (10832464.0, 19),
 (11219778.0, 19),
 (10801979.0, 19),
 (11512578.0, 19),
 (11350191.0, 19),
 (11292403.0, 19),
 (98036.0, 18),
 (711446.0, 18),
 (776562.0, 18),
 (510786.0, 18),
 (681384.0, 18),
 (1092838.0, 18),
 (1152828.0, 18),
 (1149846.0, 18),
 (1113417.0, 18),
 (1172881.0, 18),
 (1328353.0, 18),
 (1664339.0, 18),
 (1600166.0, 18),
 (1656117.0, 18),
 (1736311.0, 18),
 (1838193.0, 18),
 (2537028.0, 18),
 (2418327.0, 18),
 (2630853.0, 18),
 (3002687.0, 18),
 (2897757.0, 18),
 (2965341.0, 18),
 (2691967.0, 18),
 (3483757.0, 18),
 (3415257.0, 18),
 (3307121.0, 18),
 (3192652.0, 18),
 (3975208.0, 18),
 (3902251.0, 18),
 (3750441.0, 18),
 (3908821.0, 18),
 (4021409.0, 18),
 (3879392.0, 18),
 (4162304.0, 18),
 (4337082.0, 18),
 (4203764.0, 18),
 (4144431.0, 18),
 (4142422.0, 18),
 (4381368.0, 18),
 (4476137.0, 18),
 (4681297.0, 18),
 (4956649.0, 18),
 (4956343.0, 18),
 (5105381.0, 18),
 (5084932.0, 18),
 (5417296.0, 18),
 (5348424.0, 18),
 (5309411.0, 18),
 (5339234.0, 18),
 (5329271.0, 18),
 (5656816.0, 18),
 (5834796.0, 18),
 (5998046.0, 18),
 (6159101.0, 18),
 (5911171.0, 18),
 (6128838.0, 18),
 (6066826.0, 18),
 (6203146.0, 18),
 (5886776.0, 18),
 (5995371.0, 18),
 (6213524.0, 18),
 (6541513.0, 18),
 (6288057.0, 18),
 (6535854.0, 18),
 (6573807.0, 18),
 (6357319.0, 18),
 (6237691.0, 18),
 (6494746.0, 18),
 (6426132.0, 18),
 (6270674.0, 18),
 (6633607.0, 18),
 (6877358.0, 18),
 (7321936.0, 18),
 (7091199.0, 18),
 (7422067.0, 18),
 (7314806.0, 18),
 (7101642.0, 18),
 (7355794.0, 18),
 (7958796.0, 18),
 (7834744.0, 18),
 (7842318.0, 18),
 (7510917.0, 18),
 (7859469.0, 18),
 (7936951.0, 18),
 (7926992.0, 18),
 (7669749.0, 18),
 (7902691.0, 18),
 (8206176.0, 18),
 (8091172.0, 18),
 (8471951.0, 18),
 (8343622.0, 18),
 (8355159.0, 18),
 (8497421.0, 18),
 (8498098.0, 18),
 (8252382.0, 18),
 (8310683.0, 18),
 (8448253.0, 18),
 (8453609.0, 18),
 (8949458.0, 18),
 (8798581.0, 18),
 (8871312.0, 18),
 (9099873.0, 18),
 (8606179.0, 18),
 (9095948.0, 18),
 (8666363.0, 18),
 (8833031.0, 18),
 (9071696.0, 18),
 (9067001.0, 18),
 (8886036.0, 18),
 (8698833.0, 18),
 (8821432.0, 18),
 (9227927.0, 18),
 (9441581.0, 18),
 (9416681.0, 18),
 (9222751.0, 18),
 (9595938.0, 18),
 (9546452.0, 18),
 (9393293.0, 18),
 (9372822.0, 18),
 (10129864.0, 18),
 (9970863.0, 18),
 (10000051.0, 18),
 (9987581.0, 18),
 (10184961.0, 18),
 (9983519.0, 18),
 (10151704.0, 18),
 (10226303.0, 18),
 (10406902.0, 18),
 (10407512.0, 18),
 (10481582.0, 18),
 (10617922.0, 18),
 (10776799.0, 18),
 (10499258.0, 18),
 (10601624.0, 18),
 (10603834.0, 18),
 (10541287.0, 18),
 (10591661.0, 18),
 (10724392.0, 18),
 (10821431.0, 18),
 (11190853.0, 18),
 (10969109.0, 18),
 (11254249.0, 18),
 (11029816.0, 18),
 (11165877.0, 18),
 (10919911.0, 18),
 (11082289.0, 18),
 (10941744.0, 18),
 (11025361.0, 18),
 (11354539.0, 18),
 (11531976.0, 18),
 (11534367.0, 18),
 (11427234.0, 18),
 (11420646.0, 18),
 (11452757.0, 18),
 (11454336.0, 18),
 (512619.0, 17),
 (1777564.0, 17),
 (1436108.0, 17),
 (1540721.0, 17),
 (2149726.0, 17),
 (2921587.0, 17),
 (3091516.0, 17),
 (4262337.0, 17),
 (4143634.0, 17),
 (4662899.0, 17),
 (5276628.0, 17),
 (5341829.0, 17),
 (5539761.0, 17),
 (5692492.0, 17),
 (5808061.0, 17),
 (5797049.0, 17),
 (5820393.0, 17),
 (5572012.0, 17),
 (6112783.0, 17),
 (6355376.0, 17),
 (6427922.0, 17),
 (6665911.0, 17),
 (6841179.0, 17),
 (7414798.0, 17),
 (7199817.0, 17),
 (7345831.0, 17),
 (7591547.0, 17),
 (7527126.0, 17),
 (7842253.0, 17),
 (7926746.0, 17),
 (7919581.0, 17),
 (8474816.0, 17),
 (8472373.0, 17),
 (8294298.0, 17),
 (8121779.0, 17),
 (8101396.0, 17),
 (8378391.0, 17),
 (8573777.0, 17),
 (9082666.0, 17),
 (9080114.0, 17),
 (9033481.0, 17),
 (9240168.0, 17),
 (9684098.0, 17),
 (9998583.0, 17),
 (9964974.0, 17),
 (10031617.0, 17),
 (10220596.0, 17),
 (10504778.0, 17),
 (10327344.0, 17),
 (10547548.0, 17),
 (10233463.0, 17),
 (10821843.0, 17),
 (11235537.0, 17),
 (10858203.0, 17),
 (10797133.0, 17),
 (11560657.0, 17),
 (11315747.0, 17),
 (11434588.0, 17),
 (481709.0, 16),
 (265763.0, 16),
 (263342.0, 16),
 (93282.0, 16),
 (381922.0, 16),
 (41397.0, 16),
 (49103.0, 16),
 (195507.0, 16),
 (693773.0, 16),
 (1037912.0, 16),
 (1522009.0, 16),
 (1711281.0, 16),
 (1569821.0, 16),
 (1545339.0, 16),
 (1542651.0, 16),
 (1654942.0, 16),
 (1308623.0, 16),
 (1662108.0, 16),
 (1925831.0, 16),
 (2128541.0, 16),
 (2111138.0, 16),
 (2671418.0, 16),
 (2442363.0, 16),
 (2535206.0, 16),
 (2535724.0, 16),
 (2226229.0, 16),
 (2595928.0, 16),
 (2473763.0, 16),
 (2467393.0, 16),
 (2407767.0, 16),
 (2631413.0, 16),
 (2986889.0, 16),
 (2803152.0, 16),
 (2999632.0, 16),
 (2932858.0, 16),
 (2946511.0, 16),
 (2965547.0, 16),
 (3103904.0, 16),
 (3170559.0, 16),
 (3419747.0, 16),
 (3265187.0, 16),
 (3586994.0, 16),
 (3190113.0, 16),
 (3433222.0, 16),
 (3250573.0, 16),
 (3251647.0, 16),
 (3218049.0, 16),
 (3287529.0, 16),
 (3607466.0, 16),
 (3904062.0, 16),
 (3956669.0, 16),
 (4281938.0, 16),
 (4650127.0, 16),
 (4708316.0, 16),
 (4731112.0, 16),
 (4701998.0, 16),
 (4824211.0, 16),
 (4772701.0, 16),
 (4468136.0, 16),
 (4891759.0, 16),
 (5039484.0, 16),
 (5124447.0, 16),
 (5155747.0, 16),
 (4908308.0, 16),
 (5149859.0, 16),
 (5184366.0, 16),
 (5443876.0, 16),
 (5254844.0, 16),
 (5447196.0, 16),
 (5473052.0, 16),
 (5319256.0, 16),
 (5556064.0, 16),
 (5276571.0, 16),
 (5527903.0, 16),
 (5559771.0, 16),
 (5392136.0, 16),
 (5401887.0, 16),
 (5498373.0, 16),
 (5406151.0, 16),
 (5359429.0, 16),
 (5466957.0, 16),
 (5624487.0, 16),
 (5836878.0, 16),
 (5699849.0, 16),
 (5585518.0, 16),
 (5707666.0, 16),
 (5581114.0, 16),
 (5793132.0, 16),
 (5794812.0, 16),
 (6184371.0, 16),
 (5970614.0, 16),
 (5945076.0, 16),
 (6040217.0, 16),
 (6212817.0, 16),
 (6346741.0, 16),
 (6440406.0, 16),
 (6438232.0, 16),
 (6231608.0, 16),
 (6403479.0, 16),
 (6339616.0, 16),
 (6272798.0, 16),
 (6239023.0, 16),
 (6693768.0, 16),
 (6654324.0, 16),
 (6936229.0, 16),
 (6661418.0, 16),
 (6809584.0, 16),
 (6578203.0, 16),
 (7177323.0, 16),
 (7178684.0, 16),
 (7088494.0, 16),
 (7442049.0, 16),
 (7330099.0, 16),
 (7468554.0, 16),
 (7586128.0, 16),
 (7706348.0, 16),
 (7887539.0, 16),
 (7641741.0, 16),
 (7660858.0, 16),
 (7664244.0, 16),
 (7997101.0, 16),
 (7935059.0, 16),
 (7581154.0, 16),
 (7612372.0, 16),
 (7803956.0, 16),
 (7912929.0, 16),
 (7631761.0, 16),
 (7621989.0, 16),
 (7965389.0, 16),
 (7547642.0, 16),
 (7897472.0, 16),
 (8391316.0, 16),
 (8392259.0, 16),
 (8258238.0, 16),
 (8128479.0, 16),
 (8407834.0, 16),
 (8274904.0, 16),
 (8209784.0, 16),
 (8481244.0, 16),
 (8298131.0, 16),
 (8488363.0, 16),
 (8567497.0, 16),
 (8163934.0, 16),
 (8435874.0, 16),
 (8437573.0, 16),
 (8231934.0, 16),
 (8190633.0, 16),
 (8109613.0, 16),
 (8106497.0, 16),
 (8878129.0, 16),
 (8809641.0, 16),
 (8874703.0, 16),
 (8652456.0, 16),
 (9037288.0, 16),
 (8726021.0, 16),
 (8906882.0, 16),
 (8624089.0, 16),
 (9117203.0, 16),
 (9075831.0, 16),
 (8753347.0, 16),
 (8637926.0, 16),
 (9215796.0, 16),
 (9350236.0, 16),
 (9466909.0, 16),
 (9715579.0, 16),
 (9596912.0, 16),
 (9341156.0, 16),
 (9340809.0, 16),
 (9604366.0, 16),
 (9604904.0, 16),
 (9399817.0, 16),
 (9262336.0, 16),
 (9389743.0, 16),
 (9754696.0, 16),
 (9476007.0, 16),
 (9386787.0, 16),
 (9374699.0, 16),
 (10099976.0, 16),
 (9999754.0, 16),
 (10138221.0, 16),
 (10030744.0, 16),
 (9819993.0, 16),
 (10201258.0, 16),
 (10002361.0, 16),
 (9781523.0, 16),
 (9780462.0, 16),
 (10058444.0, 16),
 (9986127.0, 16),
 (9910816.0, 16),
 (10713439.0, 16),
 (10642266.0, 16),
 (10346682.0, 16),
 (10407517.0, 16),
 (10394864.0, 16),
 (10334032.0, 16),
 (10267408.0, 16),
 (10776946.0, 16),
 (10541993.0, 16),
 (10308882.0, 16),
 (10424856.0, 16),
 (10586028.0, 16),
 (10653467.0, 16),
 (10814737.0, 16),
 (11068079.0, 16),
 (10885457.0, 16),
 (10975128.0, 16),
 (11110036.0, 16),
 (11254964.0, 16),
 (10911238.0, 16),
 (10786841.0, 16),
 (11099684.0, 16),
 (11225994.0, 16),
 (10856574.0, 16),
 (10804256.0, 16),
 (11003166.0, 16),
 (11086073.0, 16),
 (10929963.0, 16),
 (11512223.0, 16),
 (11560378.0, 16),
 (11447359.0, 16),
 (11515678.0, 16),
 (11348333.0, 16),
 (11379882.0, 16),
 (11459463.0, 16),
 (11490974.0, 16),
 (74582.0, 15),
 (267901.0, 15),
 (243703.0, 15),
 (104298.0, 15),
 (102253.0, 15),
 (177992.0, 15),
 (262133.0, 15),
 (50541.0, 15),
 (298747.0, 15),
 (703267.0, 15),
 (630233.0, 15),
 (570202.0, 15),
 (528538.0, 15),
 (599053.0, 15),
 (657121.0, 15),
 (921457.0, 15),
 (549168.0, 15),
 (1285574.0, 15),
 (1026667.0, 15),
 (1172793.0, 15),
 (1137364.0, 15),
 (1020133.0, 15),
 (1744373.0, 15),
 (1337708.0, 15),
 (1469951.0, 15),
 (1748423.0, 15),
 (1356474.0, 15),
 (2169339.0, 15),
 (2424873.0, 15),
 (2503751.0, 15),
 (2445711.0, 15),
 (2303628.0, 15),
 (2514703.0, 15),
 (2352893.0, 15),
 (2651517.0, 15),
 (2984464.0, 15),
 (2747279.0, 15),
 (3055382.0, 15),
 (2805927.0, 15),
 (3006438.0, 15),
 (2710018.0, 15),
 (2839328.0, 15),
 (2833929.0, 15),
 (2825846.0, 15),
 (3262928.0, 15),
 (3554047.0, 15),
 (3501007.0, 15),
 (3284853.0, 15),
 (3429678.0, 15),
 (3947423.0, 15),
 (3944016.0, 15),
 (3698519.0, 15),
 (3920397.0, 15),
 (3969764.0, 15),
 (3691558.0, 15),
 (3786341.0, 15),
 (3716423.0, 15),
 (3716262.0, 15),
 (4023012.0, 15),
 (4335519.0, 15),
 (4131802.0, 15),
 (4372603.0, 15),
 (4135101.0, 15),
 (4391047.0, 15),
 (4243807.0, 15),
 (4389634.0, 15),
 (4440032.0, 15),
 (4725042.0, 15),
 (4717101.0, 15),
 (4490992.0, 15),
 (4454728.0, 15),
 (4882072.0, 15),
 (4495162.0, 15),
 (4450663.0, 15),
 (4812521.0, 15),
 (4752266.0, 15),
 (4832449.0, 15),
 (4417357.0, 15),
 (4660537.0, 15),
 (4924836.0, 15),
 (5101627.0, 15),
 (5042644.0, 15),
 (5168773.0, 15),
 (5006601.0, 15),
 (5188019.0, 15),
 (5080492.0, 15),
 (5021547.0, 15),
 (5179332.0, 15),
 (5115897.0, 15),
 (5024906.0, 15),
 (5566224.0, 15),
 (5476198.0, 15),
 (5474178.0, 15),
 (5283594.0, 15),
 (5391627.0, 15),
 (5512498.0, 15),
 (5435739.0, 15),
 (5569227.0, 15),
 (5848829.0, 15),
 (5807846.0, 15),
 (5625079.0, 15),
 (5709442.0, 15),
 (5673149.0, 15),
 (5703778.0, 15),
 (5575073.0, 15),
 (5902034.0, 15),
 (5977724.0, 15),
 (6151138.0, 15),
 (6104198.0, 15),
 (6309948.0, 15),
 (6340704.0, 15),
 (6210862.0, 15),
 (6442947.0, 15),
 (6479627.0, 15),
 (6258538.0, 15),
 (6287831.0, 15),
 (6288022.0, 15),
 (6325064.0, 15),
 (6324598.0, 15),
 (6571069.0, 15),
 (6232769.0, 15),
 (6497456.0, 15),
 (6298153.0, 15),
 (6236166.0, 15),
 (6898944.0, 15),
 (6879408.0, 15),
 (6783109.0, 15),
 (6640386.0, 15),
 (6776994.0, 15),
 (6771168.0, 15),
 (6767896.0, 15),
 (7428087.0, 15),
 (7282041.0, 15),
 (7333646.0, 15),
 (7271698.0, 15),
 (7416788.0, 15),
 (7095381.0, 15),
 (7175742.0, 15),
 (7440932.0, 15),
 (7713438.0, 15),
 (7839313.0, 15),
 (7586042.0, 15),
 (7640236.0, 15),
 (7639591.0, 15),
 (7505966.0, 15),
 (7858982.0, 15),
 (7937003.0, 15),
 (7992632.0, 15),
 (7746357.0, 15),
 (7475716.0, 15),
 (7537054.0, 15),
 (7626218.0, 15),
 (8535159.0, 15),
 (8468388.0, 15),
 (8156008.0, 15),
 (8218148.0, 15),
 (8154016.0, 15),
 (8409693.0, 15),
 (8150333.0, 15),
 (8236392.0, 15),
 (8291812.0, 15),
 (8499977.0, 15),
 (8501768.0, 15),
 (8502328.0, 15),
 (8227324.0, 15),
 (8669006.0, 15),
 (8805409.0, 15),
 (8860932.0, 15),
 (8860877.0, 15),
 (9034263.0, 15),
 (9112939.0, 15),
 (8780668.0, 15),
 (9110273.0, 15),
 (8924678.0, 15),
 (8774926.0, 15),
 (8884936.0, 15),
 (8635253.0, 15),
 (9433028.0, 15),
 (9297112.0, 15),
 (9637036.0, 15),
 (9239124.0, 15),
 (9419611.0, 15),
 (9195859.0, 15),
 (9687502.0, 15),
 (10125663.0, 15),
 (9998724.0, 15),
 (10137867.0, 15),
 (10166479.0, 15),
 (10134089.0, 15),
 (10133528.0, 15),
 (10125303.0, 15),
 (10474301.0, 15),
 (10270976.0, 15),
 (10393756.0, 15),
 (10389623.0, 15),
 (10690343.0, 15),
 (10261772.0, 15),
 (10682657.0, 15),
 (10740488.0, 15),
 (10248612.0, 15),
 (10612832.0, 15),
 (10651522.0, 15),
 (10894472.0, 15),
 (11074354.0, 15),
 (10906253.0, 15),
 (11056929.0, 15),
 (11231628.0, 15),
 (11162712.0, 15),
 (11158343.0, 15),
 (10936613.0, 15),
 ...]

In [17]:
initial_buys_df = initial_buys_df[initial_buys_df.index.isin(top_k)]

In [18]:
initial_clicks_df = initial_clicks_df[initial_clicks_df.index.isin(top_k)]

In [19]:
initial_buys_df['_Session ID'] = initial_buys_df.index

In [20]:
initial_buys_df.head(10)

                Item ID Category  Quantity  _Session ID
Session ID
420471.0    214717888.0     2092         1     420471.0
420471.0    214821024.0     1570         1     420471.0
420471.0    214829280.0      837         1     420471.0
420471.0    214819552.0      418         1     420471.0
420471.0    214746384.0      784         1     420471.0
420471.0    214821024.0     1570         1     420471.0
420471.0    214717888.0     2092         1     420471.0
420471.0    214819552.0      418         1     420471.0
420471.0    214829280.0      837         1     420471.0
420471.0    214573360.0      784         1     420471.0

In [21]:
len(initial_buys_df)

106956

In [22]:
initial_clicks_df.head(10)

              Item ID Category
Session ID
932         214826906        0
932         214826906        0
932         214826906        0
932         214826955        0
932         214826955        0
932         214826627        0
932         214826627        0
932         214800262        0
932         214709741        0
932         214709741        0

In [23]:
transformed_buys = pd.get_dummies(initial_buys_df)
transformed_clicks = pd.get_dummies(initial_clicks_df)

In [24]:
transformed_buys.head(10)

,Item ID,Quantity,_Session ID,Category_0,Category_1024,Category_1036,Category_10367,Category_1037,Category_104,Category_1041,...,Category_931,Category_932,Category_936,Category_937,Category_941,Category_9424,Category_97,Category_99,Category_994,Category_9947
Session ID,,,,,,,,,,,,,,,,,,,,,
420471.0,214717888.0,1,420471.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
420471.0,214821024.0,1,420471.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
420471.0,214829280.0,1,420471.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
420471.0,214819552.0,1,420471.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
420471.0,214746384.0,1,420471.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
420471.0,214821024.0,1,420471.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
420471.0,214717888.0,1,420471.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
420471.0,214819552.0,1,420471.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
420471.0,214829280.0,1,420471.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
420471.0,214573360.0,1,420471.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
transformed_clicks.head(10)

,Item ID,Category_0,Category_1,Category_10,Category_11,Category_12,Category_2,Category_2088904854,Category_2088919107,Category_2088937100,...,Category_2089677914,Category_2089796643,Category_3,Category_4,Category_5,Category_6,Category_7,Category_8,Category_9,Category_S
Session ID,,,,,,,,,,,,,,,,,,,,,
932,214826906,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932,214826906,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932,214826906,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932,214826955,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932,214826955,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932,214826627,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932,214826627,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932,214800262,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932,214709741,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932,214709741,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
pd.Series(transformed_buys.columns)

0              Item ID
1             Quantity
2          _Session ID
3           Category_0
4        Category_1024
5        Category_1036
6       Category_10367
7        Category_1037
8         Category_104
9        Category_1041
10       Category_1042
11       Category_1046
12       Category_1047
13      Category_10471
14     Category_106709
15       Category_1089
16      Category_10996
17        Category_114
18       Category_1140
19       Category_1141
20      Category_11414
21       Category_1146
22       Category_1151
23      Category_11624
24       Category_1182
25        Category_120
26       Category_1203
27      Category_12043
28       Category_1245
29       Category_1246
            ...
326       Category_833
327     Category_83671
328       Category_837
329      Category_8375
330      Category_8377
331       Category_838
332       Category_867
333       Category_879
334       Category_884
335       Category_889
336        Category_89
337       Category_890
338      Category_8900
339       Category_906
340       Category_910
341       Category_919
342       Category_920
343       Category_927
344        Category_93
345       Category_930
346       Category_931
347       Category_932
348       Category_936
349       Category_937
350       Category_941
351      Category_9424
352        Category_97
353        Category_99
354       Category_994
355      Category_9947
Length: 356, dtype: object

In [27]:
pd.Series(transformed_clicks.columns)

0                 Item ID
1              Category_0
2              Category_1
3             Category_10
4             Category_11
5             Category_12
6              Category_2
7     Category_2088904854
8     Category_2088919107
9     Category_2088937100
10    Category_2088942073
11    Category_2088962571
12    Category_2088973177
13    Category_2088999608
14    Category_2089045199
15    Category_2089046251
16    Category_2089046367
17    Category_2089074648
18    Category_2089156185
19    Category_2089221555
20    Category_2089246594
21    Category_2089267025
22    Category_2089282248
23    Category_2089282437
24    Category_2089286907
25    Category_2089287221
26    Category_2089300095
27    Category_2089318476
28    Category_2089318666
29    Category_2089322935
30    Category_2089358732
31    Category_2089404239
32    Category_2089422131
33    Category_2089426426
34    Category_2089437536
35    Category_2089440547
36    Category_2089502248
37    Category_2089509324
38    Category_2089515459
39    Category_2089531793
40    Category_2089538467
41    Category_2089538518
42    Category_2089569829
43    Category_2089581061
44    Category_2089615479
45    Category_2089646261
46    Category_2089677914
47    Category_2089796643
48             Category_3
49             Category_4
50             Category_5
51             Category_6
52             Category_7
53             Category_8
54             Category_9
55             Category_S
dtype: object

In [28]:
filtered_buys = transformed_buys.filter(regex="Item.*|Category.*")
filtered_clicks = transformed_clicks.filter(regex="Item.*|Category.*")

In [29]:
filtered_buys.columns

Index(['Item ID', 'Category_0', 'Category_1024', 'Category_1036',
       'Category_10367', 'Category_1037', 'Category_104', 'Category_1041',
       'Category_1042', 'Category_1046',
       ...
       'Category_931', 'Category_932', 'Category_936', 'Category_937',
       'Category_941', 'Category_9424', 'Category_97', 'Category_99',
       'Category_994', 'Category_9947'],
      dtype='object', length=354)

In [30]:
filtered_clicks.columns

Index(['Item ID', 'Category_0', 'Category_1', 'Category_10', 'Category_11',
       'Category_12', 'Category_2', 'Category_2088904854',
       'Category_2088919107', 'Category_2088937100', 'Category_2088942073',
       'Category_2088962571', 'Category_2088973177', 'Category_2088999608',
       'Category_2089045199', 'Category_2089046251', 'Category_2089046367',
       'Category_2089074648', 'Category_2089156185', 'Category_2089221555',
       'Category_2089246594', 'Category_2089267025', 'Category_2089282248',
       'Category_2089282437', 'Category_2089286907', 'Category_2089287221',
       'Category_2089300095', 'Category_2089318476', 'Category_2089318666',
       'Category_2089322935', 'Category_2089358732', 'Category_2089404239',
       'Category_2089422131', 'Category_2089426426', 'Category_2089437536',
       'Category_2089440547', 'Category_2089502248', 'Category_2089509324',
       'Category_2089515459', 'Category_2089531793', 'Category_2089538467',
       'Category_2089538518', 'Category_2089569829', 'Category_2089581061',
       'Category_2089615479', 'Category_2089646261', 'Category_2089677914',
       'Category_2089796643', 'Category_3', 'Category_4', 'Category_5',
       'Category_6', 'Category_7', 'Category_8', 'Category_9', 'Category_S'],
      dtype='object')

In [31]:
filtered_clicks.head(10)

,Item ID,Category_0,Category_1,Category_10,Category_11,Category_12,Category_2,Category_2088904854,Category_2088919107,Category_2088937100,...,Category_2089677914,Category_2089796643,Category_3,Category_4,Category_5,Category_6,Category_7,Category_8,Category_9,Category_S
Session ID,,,,,,,,,,,,,,,,,,,,,
932,214826906,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932,214826906,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932,214826906,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932,214826955,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932,214826955,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932,214826627,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932,214826627,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932,214800262,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932,214709741,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932,214709741,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
historical_buy_data = filtered_buys.groupby(filtered_buys.index).sum()
historical_buy_data = historical_buy_data.rename(columns=lambda column_name: 'buy history:' + column_name)

In [33]:
historical_buy_data.head(10)

,buy history:Item ID,buy history:Category_0,buy history:Category_1024,buy history:Category_1036,buy history:Category_10367,buy history:Category_1037,buy history:Category_104,buy history:Category_1041,buy history:Category_1042,buy history:Category_1046,...,buy history:Category_931,buy history:Category_932,buy history:Category_936,buy history:Category_937,buy history:Category_941,buy history:Category_9424,buy history:Category_97,buy history:Category_99,buy history:Category_994,buy history:Category_9947
Session ID,,,,,,,,,,,,,,,,,,,,,
932.0,2.148020e+09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3302.0,1.716957e+09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3687.0,1.717444e+09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3889.0,2.148006e+09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4451.0,1.718581e+09,0,0,0,0,0,0,0,0,4,...,0,0,0,0,0,0,0,0,0,0
5274.0,1.718390e+09,0,0,0,0,0,0,0,0,2,...,0,0,0,0,1,0,0,0,0,0
5582.0,1.716857e+09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5942.0,1.718652e+09,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
8102.0,1.932980e+09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9702.0,1.718105e+09,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [34]:
historical_click_data = filtered_clicks.groupby(filtered_clicks.index).sum()
historical_click_data = historical_click_data.rename(columns=lambda column_name: 'click history:' + column_name)

In [35]:
historical_click_data.head(10)

,click history:Item ID,click history:Category_0,click history:Category_1,click history:Category_10,click history:Category_11,click history:Category_12,click history:Category_2,click history:Category_2088904854,click history:Category_2088919107,click history:Category_2088937100,...,click history:Category_2089677914,click history:Category_2089796643,click history:Category_3,click history:Category_4,click history:Category_5,click history:Category_6,click history:Category_7,click history:Category_8,click history:Category_9,click history:Category_S
Session ID,,,,,,,,,,,,,,,,,,,,,
932,2792466840,13,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3302,858478390,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3687,4938564761,23,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3889,5584725258,26,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4451,2363064042,11,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5274,2362870184,11,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5582,4722497033,22,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5942,1288982174,6,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8102,4510063283,21,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9702,6443305192,30,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
merged1 = pd.merge(transformed_buys, historical_buy_data, left_index=True, right_index=True)

merged1.head(10)

,Item ID,Quantity,_Session ID,Category_0,Category_1024,Category_1036,Category_10367,Category_1037,Category_104,Category_1041,...,buy history:Category_931,buy history:Category_932,buy history:Category_936,buy history:Category_937,buy history:Category_941,buy history:Category_9424,buy history:Category_97,buy history:Category_99,buy history:Category_994,buy history:Category_9947
Session ID,,,,,,,,,,,,,,,,,,,,,
932.0,214826960.0,2,932.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932.0,214826624.0,2,932.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932.0,214826912.0,1,932.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932.0,214709744.0,2,932.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932.0,214819744.0,1,932.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932.0,214826912.0,1,932.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932.0,214826960.0,2,932.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932.0,214826624.0,2,932.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932.0,214709744.0,2,932.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932.0,214819744.0,1,932.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
merged2 = pd.merge(merged1, historical_click_data, left_index=True, right_index=True)

merged2.head(10)

,Item ID,Quantity,_Session ID,Category_0,Category_1024,Category_1036,Category_10367,Category_1037,Category_104,Category_1041,...,click history:Category_2089677914,click history:Category_2089796643,click history:Category_3,click history:Category_4,click history:Category_5,click history:Category_6,click history:Category_7,click history:Category_8,click history:Category_9,click history:Category_S
Session ID,,,,,,,,,,,,,,,,,,,,,
932,214826960.0,2,932.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932,214826624.0,2,932.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932,214826912.0,1,932.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932,214709744.0,2,932.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932,214819744.0,1,932.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932,214826912.0,1,932.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932,214826960.0,2,932.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932,214826624.0,2,932.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932,214709744.0,2,932.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
932,214819744.0,1,932.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
pd.Series(merged2.columns)

0                                Item ID
1                               Quantity
2                            _Session ID
3                             Category_0
4                          Category_1024
5                          Category_1036
6                         Category_10367
7                          Category_1037
8                           Category_104
9                          Category_1041
10                         Category_1042
11                         Category_1046
12                         Category_1047
13                        Category_10471
14                       Category_106709
15                         Category_1089
16                        Category_10996
17                          Category_114
18                         Category_1140
19                         Category_1141
20                        Category_11414
21                         Category_1146
22                         Category_1151
23                        Category_11624
24                         Category_1182
25                          Category_120
26                         Category_1203
27                        Category_12043
28                         Category_1245
29                         Category_1246
                     ...
736    click history:Category_2089300095
737    click history:Category_2089318476
738    click history:Category_2089318666
739    click history:Category_2089322935
740    click history:Category_2089358732
741    click history:Category_2089404239
742    click history:Category_2089422131
743    click history:Category_2089426426
744    click history:Category_2089437536
745    click history:Category_2089440547
746    click history:Category_2089502248
747    click history:Category_2089509324
748    click history:Category_2089515459
749    click history:Category_2089531793
750    click history:Category_2089538467
751    click history:Category_2089538518
752    click history:Category_2089569829
753    click history:Category_2089581061
754    click history:Category_2089615479
755    click history:Category_2089646261
756    click history:Category_2089677914
757    click history:Category_2089796643
758             click history:Category_3
759             click history:Category_4
760             click history:Category_5
761             click history:Category_6
762             click history:Category_7
763             click history:Category_8
764             click history:Category_9
765             click history:Category_S
Length: 766, dtype: object

In [39]:
model = TFFMRegressor(
    order=2,
    rank=7,
    optimizer=tf.train.AdamOptimizer(learning_rate=0.1),
    n_epochs=100,
    batch_size=-1,
    init_std=0.001,
    input_type='dense'
)

In [40]:
merged2.drop(['Item ID', '_Session ID', 'click history:Item ID', 'buy history:Item ID'], 1, inplace=True)

X = np.array(merged2)
X = np.nan_to_num(X)
y = np.array(merged2['Quantity'].as_matrix())

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """

In [41]:
X_tr, X_te, y_tr, y_te = train_test_split(X, y, test_size=0.2)

In [42]:
X_te, X_te_cs, y_te, y_te_cs = train_test_split(X_te, y_te, test_size=0.5)

cold_start = pd.DataFrame(X_te_cs, columns=merged2.columns)

In [43]:
for column in cold_start.columns:
    if ('buy' in column or 'click' in column) and ('Category' not in column):
        print (column)

In [44]:
model.fit(X_tr, y_tr, show_progress=True)
predictions = model.predict(X_te)

#cold_start_predictions = model.predict(X_te_cold)
print('MSE: {}'.format(mean_squared_error(y_te, predictions)))
print('Cold-start MSE: {}'.format(mean_squared_error(y_te_cold, predictions)))
model.destroy()

WARNING:tensorflow:From /anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:Variable += will be deprecated. Use variable.assign_add if you want assignment to the variable value or 'x = x + y' if you want a new python Tensor object.
WARNING:tensorflow:From /anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

100%|██████████| 100/100 [01:23<00:00,  1.28epoch/s]

MSE: 0.6581038522696456

NameError: name 'y_te_cold' is not defined

In [ ]:
predictions